spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pulse_db
    username: pulse
    password: pulse123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: project-pulse
